.wrapper {
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  gap: 5px;
}

.header,
.sidebar,
.content {
  border: 1px solid black;
  background-color: lightblue;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
}

.sidebar {
  grid-row: 1/3;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 3fr 1fr 2fr;
  overflow: scroll;
}

.content {
  grid-row: 2/3;
}

.logo {
  font-size: 50px;
  font-weight: bolder;
  grid-row: 1/2;
}
.topNav {
  grid-row: 2/3;
  /*   display: grid;
  grid-auto-rows: minmax(50px, 1fr);
  justify-content: center; */
}
.botNav {
  grid-row: 4/5;
  /*   display: grid;
  grid-auto-rows: 1fr;
*/
}
.topNav,
.botNav {
  display: grid;
  grid-auto-rows: minmax(50px, 1fr);
  grid-auto-columns: minmax(50px, 1fr);
  align-items: center;
  justify-items: center;
}

li {
  border: 0.1px solid darkcyan;
  border-radius: 5px;
  height: 30px;
  width: 125px;
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c2b280;
}
li > img {
  display: inline;
  max-width: 100%;
  max-height: 100%;
  margin-left: 5px;
}
