/* Overall layout */
.wrapper {
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  gap: 5px;
}

.header,
.sidebar,
.content {
  border: 1px solid black;
  background-color: lightblue;
}

.header {
  grid-column: 2/3;
  grid-row: 1/2;
}

.sidebar {
  grid-row: 1/3;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 3fr 1fr 2fr;
  grid-template-columns: 100%;
  overflow: auto;
}

.content {
  grid-row: 2/3;
}
/* Sidebar section */
.logo {
  font-weight: bolder;
  grid-row: 1/2;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.topNav {
  grid-row: 2/3;
}
.botNav {
  grid-row: 4/5;
}
.topNav,
.botNav {
  display: grid;
  grid-auto-rows: minmax(50px, 1fr);
  align-items: center;
  justify-items: center;
}

li {
  border: 0.1px solid darkcyan;
  border-radius: 5px;
  height: 30px;
  width: clamp(100px, 75%, 500px);
  text-align: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c2b280;
  padding-right: 5px;
}
img {
  display: inline;
  max-width: 100%;
  max-height: 100%;
  margin-left: 5px;
}
/* Header section */
/* HeaderTop */
.header {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.headerTop {
  width: 100%;
  max-height: 40%;

  display: flex;
}

.headerSearch {
  flex: 5;
  justify-self: end;
  margin: 5px 0 5px 0;
}
.headerTop > img {
  height: 30px;
  width: 30px;
  align-self: center;
  margin: 5px;
}

.headerTop :nth-child(1) {
  order: 1;
}
.headerTop :nth-child(2) {
  order: 4;
}
.headerTop :nth-child(3) {
  order: 3;
}
.headerTop :nth-child(4) {
  order: 2;
}
.headerTop :nth-child(5) {
  order: 5;
}
/* HeaderBot */

.headerBot {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
  gap: 5px;
}

.headerBot > img {
  width: 75px;
  height: 75px;
}
.headerBot > button {
  height: 33px;
  width: 99px;
  border-radius: 15px;
  align-self: end;
  margin-bottom: 10px;
  background-color: #c2b280;
}
.headerBot :nth-child(1) {
  grid-column: 1/2;
}
.headerBot :nth-child(2) {
  grid-column: 2/3;
  align-self: center;
  margin-left: 10px;
}
.headerBot :nth-child(3) {
  grid-column: 4/5;
}
.headerBot :nth-child(4) {
  grid-column: 5/6;
}
.headerBot :nth-child(5) {
  grid-column: 6/7;
}
.headerBot > .text > p {
  margin-bottom: 15px;
  font: 1rem;
}
.headerBot > .text > h1 {
  font-weight: bolder;
  font-size: 1.5rem;
}
