/*Styling Background section */
body {
  display: flex;
  flex-direction: row;
  background-color: #c2bdb9;
}
h1 {
  font-size: 30px;
  font-weight: bold;
}
.background-img {
  width: 40vw;
  height: 100vh;
  width: max-content;
  background-size: cover;
  clear: both;
  object-fit: contain;
}
.logo {
  width: 200px;
  opacity: 80%;
  position: absolute;
  left: 125px;
  top: 50px;
}
.logo > h1 {
  font-size: 25px;
  color: red;
}
.logo > p {
  color: blue;
}
.credit {
  width: 200px;
  opacity: 80%;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

/* Styling form section */

.content {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  align-items: center;
}
span {
  font-style: italic;
}

.header {
  width: 40vw;

  margin-top: 50px;
}
.header > h1 {
  font-size: larger;
  font-weight: bolder;
}
form {
  padding-top: 30px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.form {
  margin-top: 15px;
  padding: 15px;

  border-radius: 3px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 150px;
  height: 25px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 0.5px #868a8b;
}
label {
  width: auto;
  text-align: left;
  font-weight: bold;
}
.form > h1 {
  margin-bottom: 10px;
}
.form-col-one,
.form-col-two {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-col-one {
  justify-content: flex-start;
}
.form-col-tow {
  justify-content: flex-end;
}
button {
  position: relative;

  height: 50px;
  border-radius: 7px;
  background-color: #868a8b;
}
h2 {
  margin-top: 5px;
  position: absolute;
  bottom: 250px;
}
