/*Styling Background section */
body {
  display: flex;
  flex-direction: row;
}

.background-img {
  width: 40vw;
  height: 100vh;
  width: max-content;
  background-size: cover;
  clear: both;
  object-fit: contain;
}
.logo {
  width: 200px;
  opacity: 80%;
  position: absolute;
  left: 125px;
  top: 50px;
}
.logo > h1 {
  font-size: 25px;
  color: red;
}
.logo > p {
  color: blue;
}
.credit {
  width: 200px;
  opacity: 80%;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

/* Styling form section */

.form {
  width: 60vw;
  height: 100vh;
  background-color: black;
}
