.main {
  /*background: url(kimberly-farmer-lUaaKCUANVI-unsplash.jpg) no-repeat fixed
    center;
  background-size: contain;*/
  background-color: lightgrey;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  flex: 1;
}
.middle {
  flex: 5;
  display: flex;
  height: 80%;
  border: 1px solid black;
}

.sidebar {
  border: 1px solid black;
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.content {
  flex: 5;
}
.addNewBook {
  height: 25px;
  margin: 10px;
  grid-row: 1/2;
  border-radius: 11px;
}
.bookShelf {
  display: grid;
  grid-template-columns: 1;
  grid-row: 2/3;
  margin-left: 5px;
}
.books {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: end;
  border: 0.5px solid red;
  border-radius: 11px;
  margin: 5px;
}
.books > h1 {
  font-size: 1.5rem;
  padding: 2px;
  grid-column: 1/4;
}
.auther {
  font-size: 0.8rem;
  padding: 2px;
  grid-column: 2/4;
  grid-row: 2;
}
.btnRemove {
  background: url("bookmark-remove.svg") center no-repeat;
  height: 2rem;
  width: 2rem;
  margin: 5px;
  border-radius: 30px;
  grid-column: 1;
  grid-row: 2/3;
  justify-self: baseline;
}
.btnRead {
  background: url("read.svg") center no-repeat;
  height: 2rem;
  width: 2rem;
  border-radius: 30px;
  grid-column: 3;
  grid-row: 2/3;
  justify-self: baseline;
}
